<p>
    DRAFT WEBSITE - DO NOT USE
</p>

{% comment %}
<small>
<p>
    This is the official website for the Society Webminister of the Society for Creative Anachronism, Inc. and is maintained by the Society Webminister who may be contacted at webminister@sca.org. 
</p>

<p>
    This site may contain non-authoritative copies of some SCA policy documents; to be sure you are viewing the complete and current version, consult sca.org or the originating office directly.
</p>

<p>
    This site may include links to external pages which are not maintained by the SCA; such links do not represent an endorsement, and the SCA is not responsible for the content of those pages.
</p>

<p>
    Copyright &copy; {{ site.time | date: '%Y' }} SCA Inc. Please respect the rights of our contributors, who retain copyright to certain portions of this site.  For permission to use photographs, articles, or artwork from this site, contact the Webminister.
</p>
</small>
{% endcomment %}